.wave-animation {
    -webkit-animation-name: waveAnimation;
    animation-name: waveAnimation;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
}

@keyframes waveAnimation {
    0%,
    60%,
    to {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    10%,
    30% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(-4deg);
    }
}
