<!-- У нас проходили обучение UA -->
<section class="counterStudy pd-main">
    <div class="container">
        <h3 class=" text-center text-lg-xs title--main">У нас проходили обучение</h3>

        <div class="counterStudy__logos counterStudy__logos-js flex space-between wrap">
            <h2>Ваш браузер не поддерживает показ этого экрана. Обновите версию браузера.</h2>
        </div>
    </div>

    <script>
        const trustPictures = [
            'https://forstas.bizconstructor.com/migrate/trust/agromat.png',
            'https://forstas.bizconstructor.com/migrate/trust/alfa.png',
            'https://forstas.bizconstructor.com/migrate/trust/bd_holding.png',
            'https://forstas.bizconstructor.com/migrate/trust/biscoti.png',
            'https://forstas.bizconstructor.com/migrate/trust/data.png',
            'https://forstas.bizconstructor.com/migrate/trust/gastro.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group10.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group11.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group12.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group5.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group6.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group7.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group8.png',
            'https://forstas.bizconstructor.com/migrate/trust/Group9.png',
            'https://forstas.bizconstructor.com/migrate/trust/ohmylook.png',
            'https://forstas.bizconstructor.com/migrate/trust/planeta.png',
            'https://forstas.bizconstructor.com/migrate/trust/pokrovskiy.png',
            'https://forstas.bizconstructor.com/migrate/trust/premier.png',
            'https://forstas.bizconstructor.com/migrate/trust/stylus.png',
            'https://forstas.bizconstructor.com/migrate/trust/verywell.png',
        ];
    
        function generateTrustPictures() {
            $('.counterStudy__logos-js').empty();
    
            const mapItem = trustPictures.map(function (item, index) {
                return `<div class="counterStudy__logo card">
                            <img loading="lazy" class="w100 object-fit" src="${item}">
                        </div>`;
            });
    
            const parent = document.querySelector('.counterStudy__logos-js');
            parent.insertAdjacentHTML('afterbegin', mapItem.join(' '));
        };
        generateTrustPictures();
    </script>
</section>
